//- index page
if is_home()
  h4.page-title Recent Posts
  each post in site.posts.sort('date', 'desc').toArray()
    - var reading_length = Math.ceil(post.content.replace(/[^a-zA-Z\s]/g, '').split(/[\s]+/).length / 250)
    a.article(href= config.root + post.path)
      article.item(itemscope, itemprop='blogPost', itemtype='https://schema.org/BlogPosting')
        h2(itemprop='headline')= post.title
        span.post-meta
          | Published on
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(post.date), 'H:mm')
          | , #{reading_length} min read
        p(itemprop='text').post-excerpt= post.intro ? post.intro : post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) 
          | ...
  //- footer(itemscope, itemtype='https://schema.org/WPFooter')
    //- include _footer
//- articles page
if is_page() && page.title.toLowerCase() == 'writings'
  article.full
    h1(itemprop='headline')= page.title
    != page.content
    - var lastyear = 0
    for post, index in site.posts.sort('date', 'desc').toArray()
      if lastyear != post.date.format('YYYY')
        if index != 0
          | </ul>
        - lastyear = post.date.format('YYYY')
        h4= lastyear
        | <ul>
        li(itemprop='name')
          a(href= config.root + post.path, itemprop='url') #{post.title}
          |  &mdash;
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
      else
        li
          a(href= config.root + post.path) #{post.title}
          |  &mdash;
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
    
    if site.posts.toArray().length != 0
      | </ul>
    //- append writings from tessel
    h4 Writings from Tessel
    ul
      li(itemprop='name')
        a(href="https://tessel.io/blog/100084265042/onboarding-with-the-samr21-mcu-on-osx-ubuntu", itemprop='url') Onboarding with the SAMR21 MCU on OSX & Ubuntu
        |  &mdash;
        time(itemprop='datePublished') October, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/94836877892/getting-the-cc3000-working-with-javascript", itemprop='url') Getting the CC3000 working with JS
        |  &mdash;
        time(itemprop='datePublished') August, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/95383451952/arduino-tessel-communication", itemprop='url') Ardunio <-> Tessel Communication
        |  &mdash;
        time(itemprop='datePublished') August, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/95945850577/how-to-expose-a-c-function-up-to-js-userspace-on", itemprop='url') Exposing a C function up to JS userspace on Tessel
        |  &mdash;
        time(itemprop='datePublished') August, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/85632183767/testing-tessel-with-testalator", itemprop='url') Testing Tessel with Testalator
        |  &mdash;
        time(itemprop='datePublished') May, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/82193726811/tessel-progression", itemprop='url') Tessel Progression
        |  &mdash;
        time(itemprop='datePublished') April, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/73618767099/costs-benefits-of-beta-testing", itemprop='url') Costs and Benefits of Beta Testing
        |  &mdash;
        time(itemprop='datePublished') January, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/71868894308/testing-hardware", itemprop='url') Testing Hardware
        |  &mdash;
        time(itemprop='datePublished') January, 2014
      li(itemprop='name')
        a(href="https://tessel.io/blog/66107571478/the-making-of-an-ambient-sensor", itemprop='url') The Making of an Ambient Sensor
        |  &mdash;
        time(itemprop='datePublished') Nov, 2014  
      li(itemprop='name')
        a(href="https://tessel.io/blog/66686276686/reverse-engineering-lpcs-device-firmware-upgrade", itemprop='url') Reverse Engineering LPC’s Device Firmware Upgrade
        |  &mdash;
        time(itemprop='datePublished') Nov, 2013 
  include _comments
else if is_page()
  article.full
    h1(itemprop='headline')= page.title
    if page.updated
      span.post-meta
        | Last updated on
        time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.updated), 'H:mm')
    != page.content
  include _comments
else if is_post()
  article.full
    h1(itemprop='headline')= page.title
    span.post-meta
      | Published on
      time(itemprop='datePublished', datetime= page.date.toISOString())= full_date(new Date(page.date), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.date), 'H:mm')
      if page.updated
        br
        | Last updated on
        time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.updated), 'H:mm')
    != page.content
  include _comments
